@media (max-width:1020px){
    .home .front {
        font-size: 70px;
    }
    .home .dev {
        font-size: 120px;
    }
}

@media (max-width:420px) {
    
    .cabeçalho h1 {
        font-size: 16px;
    }
    .home .front {
        font-size: 16px;
    }

    .home .dev {
        font-size: 26px;
    }
    .home .ola {
        font-size: 16px;
    }
    .home p {
        font-size: 10px;
    }

    .redes li img {
        width: 10px;
        height: 10px;
    }

    /*PROJETOS*/

    .projetos img{
        width: 300px;
        height: 200px;
    }

    .projetos h2 {
        font-size: 16px;
    }

    /*FORMAÇÃO*/
    .formacao .formacao-infor{
        flex-direction: column;
        width: 200px;
    }

    .formacao h2 {
        font-size: 16px;
    }

    /*EXPERIENCIA*/
    .experiencia ul li{
        padding-left: 20px;
    }

    /*TECNOLOGIAS*/
    .tecnologias {
        gap: 10px;
    }
    .tecnologias div{
        width: 250px;
    }

    /*FOOOTER*/
    .footer h2 {
        font-size: 16px;
    }
}
