/*HEADER*/
#header .logo{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-color: #fff;
}

/*MAIN*/
.informaçoes {
    margin-top: 80px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.informaçoes p{
    font-family: 'Dosis', sans-serif;
}

.text {
    animation: inicializar .7s forwards;
    width: 400px;
    text-align: justify;
}

.redes-sociais i{
    color: black;
    font-weight: 900;
}

.text h2 {
    font-size: 50px;
    color: rgb(80, 78, 78);
}

.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

.text i {
    padding: 10px;
}

.tecnologias {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.tecnologias p {
    font-size: 30px;
    color: #181818;
    font-family: 'Dosis', sans-serif;
}

.tecnologias i {
    padding: 10px;
    font-size: 25px;
    border: 0 solid coral;
}

.tecnologias #html {
    color: orange;
}

.tecnologias #css {
    color: blue;
}

.tecnologias #js {
    color: yellow;
}

.tecnologias #git {
    color: rgb(243, 42, 42);
}

/*PROJETOS*/

.projetos {
    margin-top: 142px;
}

.projetos h2,
#footer h2,
.formations h2 {
    color: blue;
    padding-left: 30px;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

.projetos .p-descri,
#footer .p-descri,
.formations .p-descri {
    padding-top: 10px;
    font-weight: bold;
    width: 800px;
    margin: 0 auto;
    padding-left: 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
}

.projeto-one img,
.projeto-two img {
    border-radius: 15px;
    background: #bdbcbc;
    box-shadow: 28px -28px 16px #706f6f,
                -28px 28px 16px #ffffff;
    width: 500px;
}

.projeto-one,
.projeto-two {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    visibility: hidden;
}

.informacao-projeto {
    width: 220px;
    text-align: center;
}

.informacao-projeto .link-projeto {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.projetos p {
    padding: 2px;
    font-family: 'Dosis', sans-serif;
}

.informacao-projeto .text-infor {
    font-size: 12px;
}

.link-projeto p:hover {
    color: blue;
}


/*FORMATION*/
.formations {
    margin-top: 140px;
} 

.seçao-formations {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    visibility: hidden;
    flex-wrap: wrap;
}

.formations .formation {
    padding: 70px 20px;
    text-align: center;
}

.formations .formation h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.formations .formation img {
    width: 150px;
    margin-bottom: 30px;
    
}


/*FOOTER*/
#footer {
    margin-top: 144px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}
.information {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 100px 0;
}

.information i{
    color: lightseagreen;
    font-size: 30px;
}


/*ANIMAÇÕES*/

@keyframes pisca{
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}

@keyframes inicializar{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);

    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
