/*HEADER*/
.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menu ul {
    display: flex;
    gap: 20px;
}

.logo a:hover{
    color: coral;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    border-radius: 50px;
    padding: 10px;
    background-color: coral;
    transition: 0.2s;
}

/*HOME*/

.home {
    padding: 30px;
}

.home .infor-front {
    display: flex;
}
.home .front {
    font-size: 110px;
    display: flex;
    align-items: center;
}
.home .dev {
    margin-top: -40px;
    font-size: 180px;
}
.home p {
    text-align: right;
    margin-right: 80px;
}
.redes {
    padding: 40px;
    display: flex;
    gap: 20px;
}
.redes li img {
    width: 50px;
    height: 50px;
}

/*PROJETOS*/
.projetos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projetos img {
    width: 400px;
    height: 260px;
}

.projetos p {
    padding: 8px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.projetos h2 {
    padding: 5px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/*TECNOLOGIAS*/

.tecnologias {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tecnologias div {
    text-align: center;
    width: 300px;
}

.tecnologias img {
    width: 100px;
    height: 100px;
}

.tecnologias h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

.tecnologias p {
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
}

/*FORMAÇÃO*/

.formacao {
    margin-top: 100px;
}

.formacao .formacao-infor{
    display: flex;
    margin: 50px;
}

.formacao h2 {
    padding: 30px;
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
}

.formacao img {
    width: 100px;
    height: 100px;
}

/*EXPERIENCIAS*/

.experiencia {
    margin-top: 100px;
}

.experiencia h2{
    padding: 30px;
}

.experiencia ul li {
    padding-left: 80px;
    padding-bottom: 5px;
    font-size: 20px;
}

/*FOOTER*/

.footer {
    margin-top: 40px;
    height: 110px;
    background-color: coral;
    color: white;
    text-align: center;
}

.footer h2 {
    font-size: 50px;
}

/*RESPONSIVE*/

.cabeçalho .menu02 {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.cabeçalho nav label {
    display: flex;
    flex-direction: column;
}

.cabeçalho .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.cabeçalho .hamburguer:before,
.cabeçalho .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.cabeçalho .hamburguer:before {
    top: 10px;
}

.cabeçalho .hamburguer:after {
    bottom: -10px;
}

.cabeçalho input {
    display: none;
}

.cabeçalho input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.cabeçalho input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.cabeçalho input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}



@media (max-width: 900px) {
    .cabeçalho .menu02 {
        display: block;
    }

    .cabeçalho nav ul {
        display: none;
    }

    .cabeçalho input:checked ~ ul {
        display: block;
    }

    .cabeçalho nav {
        position: absolute;
        top: 8px;
        right: 0;
        z-index: 1;

    }

    .cabeçalho nav ul {
        width: 200px;
        background-color: #fff;
        padding: 20px;
    }

    .cabeçalho nav ul a {
        text-align: center;
        padding: 20px;
        display: block;
    }
}